<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-color:#e7e7e7;padding:20px 0;font-family:Arial,Helvetica,sans-serif;line-height:1.5;color:#1b1c1e">
    <table style="width:600px;margin:0 auto;background:#fff;direction:ltr">
        <tbody>
            <tr>
                <td>
                    <div style="padding:22px 0">
                        <img src="{{ image_url }}" alt="logo" width="220" style="margin:0 auto;
                                                                                 display:block;
                                                                                 border-radius: 10px;">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding:16px 22px 0;text-align:center">
                        <h1 style="font-size:24px;margin-bottom:0">
                            Рады приветствовать на нашем сайте!
                        </h1>
                        <p style="font-size:16px;margin-top:8px">
                            Нажмите на кнопку нижу, чтобы подтвердить ваш аккаунт!
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <a href="{{ activate_url }}" style="color:#fff!important;
                                                          background-color:#191b1b;
                                                          display:block;
                                                          font-size:20px;
                                                          font-weight:600;
                                                          line-height:52px;
                                                          max-width:320px;
                                                          text-decoration:none;
                                                          width:320px!important;
                                                          height:100%;
                                                          margin:32px auto;
                                                          padding:0;
                                                          border-radius:4px;
                                                          text-align:center">
                            Подтвердите свой адрес электронной почты
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>