{% extends 'base_generic.html' %}

{% block content %}
  <div class="orders-container">
    <h2>Ваши заказы</h2>
    {% for order in orders %}
      <div class="order-item">
        <h3>Название заказа: {{ order.title }}</h3>
        <p>Описание заказа: {{ order.description }}</p>
        <p>Статус заказа: {{ order.status }}</p>
        <p>Время создания: {{ order.time_create }}</p>

        <div class="order-photos">
          {% for photo in order.photos.all|slice:":3" %}
            <img src="{{ photo.photo.url }}" alt="Фото заявки" style="max-width: 200px;">
          {% endfor %}
        </div>

        <a href="{% url 'order:delete' order.pk %}">Удалить</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

